<ion-view title="Algorithms" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list id="algorithms-list5">
            <ion-item id="algorithms-list-item11" ui-sref="tabsController.pRISMAlgorithm">Prism Assessment and Treatment</ion-item>
            <ion-item id="algorithms-list-item12">Antidepressant Treatment Algorithm</ion-item>
            <ion-item id="algorithms-list-item13">Bipolar Screening</ion-item>
            <ion-item id="algorithms-list-item14">Depression Screening</ion-item>
        </ion-list>
    </ion-content>
</ion-view>