<ion-view title="Anti-Depression Treatment" id="page7">
	<ion-content padding="true" class="has-header">
		<div class="list card" id="antiDepressionTreatment-card24">
			<div class="item item-body">
				<h1 id="antiDepressionTreatment-heading5">Anti-Depression Treatment</h1>
			</div>
			<div class="item item-body" id="antiDepressionTreatment-list-item-container5">
				<h1 id="antiDepressionTreatment-heading5" style="color:#000000;">First Question</h1>
				<div id="antiDepressionTreatment-markdown6" style="color:#000000;">
					<p><strong>A.</strong>First response</p>
					<p><strong>B.</strong>Second Response</p>
					<p><strong>C.</strong>Third Response</p>
					<p><strong>D.</strong>Fourth Response</p>
				</div>
				<div id="antiDepressionTreatment-button-bar7" class="button-bar">
					<button id="antiDepressionTreatment-button35" class="button button-positive  button-block button-outline">A</button>
					<button id="antiDepressionTreatment-button36" class="button button-positive  button-block button-outline">B</button>
					<button id="antiDepressionTreatment-button37" class="button button-positive  button-block button-outline">C</button>
					<button id="antiDepressionTreatment-button38" class="button button-positive  button-block button-outline">D</button>
				</div>
			</div>
		</div>
		<button id="antiDepressionTreatment-button39" class="button button-positive  button-block">Next Question</button>
	</ion-content>
</ion-view>
