<ion-view title="Bipolar Disorder Screening" id="page5">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="bipolarDisorderScreening-card22">
            <ion-item class="item-avatar" id="bipolarDisorderScreening-list-item7">
                <h2>Post Partum Depression</h2>
            </ion-item>
            <div class="item item-body" id="bipolarDisorderScreening-list-item-container3">
                <h1 id="bipolarDisorderScreening-heading3" style="color:#000000;">Question</h1>
                <div id="bipolarDisorderScreening-markdown4" style="color:#000000;">
                    <p>
                        <strong>A.</strong>First response</p>

                    <p>
                        <strong>B.</strong>Second Response</p>

                    <p>
                        <strong>C.</strong>Third Response</p>

                    <p>
                        <strong>D.</strong>Fourth Response</p>
                </div>
                <div id="bipolarDisorderScreening-button-bar5" class="button-bar">
                    <button id="bipolarDisorderScreening-button25" class="button button-positive  button-block button-outline">A</button>
                    <button id="bipolarDisorderScreening-button26" class="button button-positive  button-block button-outline">B</button>
                    <button id="bipolarDisorderScreening-button27" class="button button-positive  button-block button-outline">C</button>
                    <button id="bipolarDisorderScreening-button28" class="button button-positive  button-block button-outline">D</button>
                </div>
            </div>
        </div>
        <button id="bipolarDisorderScreening-button29" class="button button-positive  button-block">Next Question</button>
    </ion-content>
</ion-view>