<ion-view title="Depression screening algorthm" id="page2">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="depressionScreeningAlgorthm-card21">
            <div class="item item-body" id="depressionScreeningAlgorthm-list-item-container2">
                <h1 id="depressionScreeningAlgorthm-heading2" style="color:#000000;">Question</h1>
                <div id="depressionScreeningAlgorthm-markdown2" style="color:#000000;">
                    <p>
                        <strong>A.</strong>First response</p>

                    <p>
                        <strong>B.</strong>Second Response</p>

                    <p>
                        <strong>C.</strong>Third Response</p>

                    <p>
                        <strong>D.</strong>Fourth Response</p>
                </div>
                <div id="depressionScreeningAlgorthm-button-bar4" class="button-bar">
                    <button id="depressionScreeningAlgorthm-button20" class="button button-positive  button-block button-outline">A</button>
                    <button id="depressionScreeningAlgorthm-button21" class="button button-positive  button-block button-outline">B</button>
                    <button id="depressionScreeningAlgorthm-button23" class="button button-positive  button-block button-outline">C</button>
                    <button id="depressionScreeningAlgorthm-button22" class="button button-positive  button-block button-outline">D</button>
                </div>
            </div>
        </div>
        <button id="depressionScreeningAlgorthm-button24" class="button button-positive  button-block">Next Question</button>
    </ion-content>
</ion-view>