<ion-view title="Home" id="page2">
    <ion-content padding="true" class="has-header">
        <ion-list id="home-list3">
            <ion-item class="item-icon-left item-icon-right positive  intro" id="home-list-item7">
                <i class="icon ion-ios-information"></i>How to use this app
                <i class="icon ion-android-hand icon-accessory"></i>
            </ion-item>
        </ion-list>
        <div>
            <img src="img/DjjOFgpvQmekXzJWVhZV_mom.jpg" width="100%" height="" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="home-list4">
            <ion-item class="item-divider" id="home-list-item-divider1">Lifeline4Moms</ion-item>
            <ion-item id="home-list-item10">Medical Information</ion-item>
            <ion-item id="home-list-item8">Bipolar Screening</ion-item>
            <ion-item id="home-list-item9">Emotional Complications</ion-item>
        </ion-list>
    </ion-content>
</ion-view>