<ion-view title="Home" hide-back-button="true" id="page1">
	<ion-content padding="true" class="has-header">
		<ion-list id="home-list3">
			<ion-item class="item-thumbnail-left" id="home-list-item6" ui-sref="menu.depressionScreeningAlgorthm">
				<img src="img/sad1.jpg"></img>
				<p style="white-space:normal;">Depression screening algorithm</p>
			</ion-item>
			<ion-item class="item-thumbnail-left" id="home-list-item11" ui-sref="menu.bipolarDisorderScreening">
				<img src="img/sad2.jpg"></img>
				<p style="white-space:normal;">Bipolar disorder screen</p>
			</ion-item>
			<ion-item class="item-thumbnail-left" id="home-list-item12" ui-sref="menu.recommendedSteps">
				<img src="img/sad3.jpg"></img>
				<p style="white-space:normal;">Recommended steps before beginning antidepressant medication</p>
			</ion-item>
			<ion-item class="item-thumbnail-left" id="home-list-item13" ui-sref="menu.antiDepressionTreatment">
				<img src="img/sad4.jpeg"></img>
				<p style="white-space:normal;">Anti depression treatment algorithm</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
