<ion-view title="PRISM Algorithm" id="page5">
    <ion-content padding="true" class="has-header">
        <h1 id="pRISMAlgorithm-heading1" style="color:#000000;">Preliminary Screenings</h1>
        <div id="pRISMAlgorithm-markdown1" style="color:#000000;">
            <p>The first steps of the PRISM screening algorithm is to perform the
                <strong>Depression Screening</strong>and the
                <strong>Bipolar Screening</strong>.</p>
        </div>
        <div class="spacer" style="width: 300px; height: 35px;"></div>
        <button id="pRISMAlgorithm-button1" class="button button-positive  button-block">Depression Screening</button>
        <form id="pRISMAlgorithm-form5" class="list">
            <ion-item class="range range-positive" id="pRISMAlgorithm-range2">Score
                <input type="range" value="5" min="0" max="10" step="1" name="DepressionScore">
            </ion-item>
        </form>
        <button id="pRISMAlgorithm-button9" class="button button-balanced  button-block icon-right ion-ios-arrow-right">Next</button>
    </ion-content>
</ion-view>