<ion-view title="Recommended Steps" id="page6">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="recommendedSteps-card23">
            <ion-item class="item-avatar" id="recommendedSteps-list-item8">
                <h2>Post Partum Depression</h2>
            </ion-item>
            <div class="item item-body" id="recommendedSteps-list-item-container4">
                <h1 id="recommendedSteps-heading4" style="color:#000000;">Question</h1>
                <div id="recommendedSteps-markdown5" style="color:#000000;">
                    <p>
                        <strong>A.</strong>First response</p>

                    <p>
                        <strong>B.</strong>Second Response</p>

                    <p>
                        <strong>C.</strong>Third Response</p>

                    <p>
                        <strong>D.</strong>Fourth Response</p>
                </div>
                <div id="recommendedSteps-button-bar6" class="button-bar">
                    <button id="recommendedSteps-button30" class="button button-positive  button-block button-outline">A</button>
                    <button id="recommendedSteps-button31" class="button button-positive  button-block button-outline">B</button>
                    <button id="recommendedSteps-button32" class="button button-positive  button-block button-outline">C</button>
                    <button id="recommendedSteps-button33" class="button button-positive  button-block button-outline">D</button>
                </div>
            </div>
        </div>
        <button id="recommendedSteps-button34" class="button button-positive  button-block">Next Question</button>
    </ion-content>
</ion-view>