<ion-view title="References" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-list id="references-list7">
            <ion-item id="references-list-item15">ACoG Recommendations</ion-item>
            <ion-item id="references-list-item16">Emotional Complications</ion-item>
            <ion-item id="references-list-item17">Key Clinical Considerations</ion-item>
            <ion-item id="references-list-item18">Safety Concerns</ion-item>
        </ion-list>
    </ion-content>
</ion-view>